body {
    background-color: yellow;
    color: black;
}

a {
    text-align: center;
    text-decoration: none;
    color: lightblue;
}

a:hover {
    background-color: olive;
}

head {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
}

#abtwebsite {
    font-size: 2em;
}

#JennyBenny {
    text-align: center;
}